
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  
body {
    position: relative;
    
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}



  
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }

  

  a:hover{
    background-color: white;
    color: #728FCE !important;
  }

footer{
  background-color: #337ab7;
  margin-top: 100px;
  color: white;
  padding: 15px;
  position: relative;
width: 100vw;
left: calc(-50vw + 50%);

}

footer ul li {
  list-style: none;
  color: white;

}

footer ul li a{
  text-decoration: none;
  color: white;
}

footer ul li a:hover{
  text-decoration: underline;
  color: none;
}
